/* ==========================================================================
  Main
========================================================================== */


.border-top {
  &:before {
    content: " ";
    display: block;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #b1313a, #9e6184, #56639c);
  }

  @include breakpoint(small) {
    padding-bottom: 100px;
  }
}