@import "../../styles/typography.scss";
@import "../../styles/colors.scss";

.container {
  display: flex;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
}

.title {
  @include font-style-heading-3;

  background-color: white;
  color: $gray;
  padding: 0 50px;
  min-width: 300px;
}

.borders {
  &:before,
  &:after {
    content: " ";
    display: block;
    width: 50%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: -1;
  }

  &:before {
    background: linear-gradient(90deg, $red, $pink, $blue);
    left: 0;
  }

  &:after {
    background: linear-gradient(90deg, $blue, $pink, $red);
    right: 0;
  }
}
