/* ==========================================================================
  Links
========================================================================== */


a {
  color: $colorLink;
  text-decoration: none;
  transition: all .25s ease;
  display: block;
  color: #b1313a;
  &:hover,
  &:focus {
    color: #9e6184;
  }
}

