/* ==========================================================================
  Links
========================================================================== */


a {
  color: $colorLink;
  text-decoration: none;
  transition: all .5s ease;
  display: block;
  width: 56px;
  height: 56px;
  border: 2px solid $colorLink;
  border-radius: 100%;
  text-align: center;
  padding: 4px 0 0 0;
  &:hover,
  &:focus {
    color: darken($colorLink, 15%);
    border-color: darken($colorLink, 15%);
  }

  @include breakpoint(small) {
    width: 44px;
    height: 44px;
  }
}

