/* ==========================================================================
  Footer
========================================================================== */


footer {
  background: linear-gradient(to right, #b1313a, #9e6184, #56639c);
  padding: 30px 0;
  a {
    display: block;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    padding-top: 7px;
    position: relative;

    &:hover,
    &:focus {
      color: #fff;
      .explode {
        animation: backgroundExplode $timing*2.5 both;
      }
      .icon-svg {
        transform: scale(1.1);
      }
    }
  }

  .explode {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100%;
    opacity: 0.6;
  }
}