/* ==========================================================================
  Typography
========================================================================== */

html, body, button {
  font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p, ul, ol {
  @include fontDefault();
  font-size: $fontBase;
  padding: 0 0 15px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @include fontHighlight();
  line-height: $lineHeightHeader;
  text-rendering: optimizeLegibility;
}

.h1, h1 {
  font-size: $fontH1;
}

.h2, h2 {
  font-size: $fontH2;
}

.h3, h3 {
  font-size: $fontH3;
}

.h4, h4 {
  font-size: $fontH4;
}

h5, .h5 {
  font-size: $fontH5;
}

h6, .h6 {
  font-size: $fontH6;
}

.small,
small {
  font-size: $fontSmall;
}

.strong,
strong {
  font-weight: bold;
}