/* ==========================================================================
  Variables
========================================================================== */


/*==========  DEFINE BREAKPOINTS  ==========*/
$xSmall: 555px !default;
$small: 767px !default;
$medium: 979px !default;
$large: 1180px !default;


/*==========  SPACING  ==========*/

$padding: 20px;
$margin: 50px;


/*==========  COLORS  ==========*/

$colorGrayBackground: #f0f0f0 !default;
$colorGrayKeyline: #e0e0e0 !default;
$colorGray: #737373 !default;
$colorGrayDark: #404040 !default;

$colorText: $colorGrayDark !default;
$colorHighlight: #ff0000 !default;
$colorBtn: $colorHighlight !default;


/*==========  FONTS  ==========*/

$fontSmall: 13px !default;
$fontBase: 16px  !default;
$fontLarge: 20px !default;

$fontH1: 40px !default;
$fontH2: 34px !default;
$fontH3: 28px !default;
$fontH4: 22px !default;
$fontH5: 16px !default;
$fontH6: 14px !default;

$lineHeight: 1.5 !default;
$lineHeightHeader: 1.2 !default;

$fontDefault: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$fontHighlight: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


$animationEasing: cubic-bezier(0.455, 0.030, 0.515, 0.955) !default;