/* ==========================================================================
  Classes
========================================================================== */


/*==========  FLOATS/ORDER  ==========*/

.left {
  float: left;
}

.right {
  float: right;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}



/*==========  TEXT  ==========*/

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.inline-border {
  position: relative;
  margin: 0 0 50px;
  &:before,
  &:after {
    content: " ";
    display: block;
    width: 40%;
    height: 1px;
    background: linear-gradient(to right, #b1313a, #9e6184, #56639c);
    position: absolute;
    top: 50%;
    left: 0;
  }
  &:after {
    right: 0;
    left: auto;
    background: linear-gradient(to right, #56639c, #9e6184, #b1313a);
  }

  @include breakpoint(large) {
    &:before,
    &:after {
      width: 35%;
    }
  }
  @include breakpoint(medium) {
    &:before,
    &:after {
      width: 35%;
    }
  }

  @include breakpoint(small) {
    &:before,
    &:after {
      width: 20%;
    }
  }
}



/*==========  VERTICAL CENTERING  ==========*/

.v-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.flex-v-align {
  align-items: center;
}

.flex-b-align {
  align-items: flex-end;
}

.full-height {
  height: 100%;

  @include breakpoint(small) {
    height: auto;
  }
}


/*==========  HIDE  ==========*/

.hide {
  display: none;
  visibility: hidden;
}

.tablet-hide {
  @include breakpoint(medium) {
    display: none;
    visibility: hidden;
  }
}

.mobile-hide {
  @include breakpoint(small) {
    display: none;
    visibility: hidden;
  }
}


/*==========  UTILITIES  ==========*/

.break {
  display: block;

  @include breakpoint(large) {
    display: inline;
  }
  @include breakpoint(medium) {
    display: inline;
  }
  @include breakpoint(small) {
    display: inline;
  }
}

.clearfix {
  @include clearfix();
}